<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Random_Image.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Random_Image.Properties.Settings>
            <setting name="ImageFolder1" serializeAs="String">
                <value>system: MyPictures\</value>
            </setting>
            <setting name="ImageFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFolder3" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageExtensions" serializeAs="String">
                <value>jpg, jpeg, gif, png, webp, avif</value>
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoScaling" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoScalingWhenZoomed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtraZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsBlackBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestartEveryNImages" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesiredFrameRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LargeImagePixelDimension" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="MaxImagePixelDimension" serializeAs="String">
                <value>3840</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </Random_Image.Properties.Settings>
    </userSettings>
</configuration>
